.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.futer__btn{
    border: 2px solid #42aef7;
    width: 300px;
    height: 25px;
    cursor: pointer;
    grid-area: followed;
    margin: 0px 40px 20px 0px;
    transition: all 200ms;
}

.futer__btn:hover{
    border: 2px solid #42aef7;
    background: #f7f7f7;
}
