.content__myPost{
    display: flex;
    flex-direction: column;
  }
  
  
  .input{
    height: 35px;
    width: 400px;
  }
  
  .btn{
    height: 35px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    margin: 10px 0px;
  }
  
  .btn:hover{
    background: #c5c8c9;
  }

  .content__otherPosts{

  }